<div class="profile__control display-none profile__control_row">
          <button
            class="profile__btn button button_b-r-8px button_grey button_auth"
          >
            Отмена
          </button>
          <button
            class="profile__btn button button_b-r-8px button_blue button_auth"
          >
            Сохранить
          </button>
        </div>
      </div>