<menu class="chats__menu">
  <div class="chats__menu-content display-none" id="one-chat">
    {{#each parentsProps.messagesTopMenuButtons}}
      <div class="chats__menue-item" id={{actionId}}>
        <img src={{iconSvg}} alt="#" class="chats__menue-item-img" />
        <p class="chats__menue-item-action">{{actionTitle}}</p>
      </div>
    {{/each}}
  </div>
</menu>