<div class="profile__wrapper">
  <aside class="profile__go-back">
    <a class="profile__link" href="../chats/index.html">
      <img
        src={{svg.svgArrowLeft}}
        alt="Аватар пользователя"
        class="profile__arrow"
      />
    </a>
  </aside>
  <main class="profile">
    <div class="profile__data">
      <img
        class="img img_round profile__img"
        src={{svg.svgAvatarProfile}}
        alt="Аватар пользователя"
      />
      <h1 class="profile__owener">Максим</h1>
      <div class="profile__form-container">
        <!--  -->

        <form class="profile__form" id="profile">
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Почта</label>
            <input class="profile__input mb-1rem" type="text" />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Логин</label>
            <input class="profile__input mb-1rem" type="text" />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Имя</label>
            <input class="profile__input mb-1rem" type="text" />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Фамилия</label>
            <input class="profile__input mb-1rem" type="text" />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Имя в чате</label>
            <input class="profile__input mb-1rem" type="text" />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Телефон</label>
            <input class="profile__input mb-1rem" type="text" />
          </div>
        </form>
        <form
          class="profile__form display-none profile__form-password"
          id="profile-password"
        >
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Старый пароль</label>
            <input class="profile__input mb-1rem" type="password" />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="">Новый пароль</label>
            <input class="profile__input mb-1rem" type="password" />
          </div>
          <div class="profile__field">
            <label class="profile__label" for="">Повторите пароль</label>
            <input class="profile__input" type="password" />
          </div>
        </form>

        <!--  -->
      </div>

      <div class="profile__control-wrapper">
        <div class="profile__control">
          <button class="profile__change-data mb-1rem">
            Изменить данные
          </button>
          <button class="profile__change-data mb-1rem">
            Изменить пароль
          </button>
          <button class="profile__change-data profile__change-data_red">
            <a class="profile__link-to-login" href="../login/index.html">Выйти
            </a>

          </button>
        </div>
        <div class="profile__control display-none profile__control_row">
          <button
            class="profile__btn button button_b-r-8px button_grey button_auth"
          >
            Отмена
          </button>
          <button
            class="profile__btn button button_b-r-8px button_blue button_auth"
          >
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </main>
</div>