* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

html {
  font-size: 10px;
}

.root {
  width: 100vw;
  height: 100vh;
}

.modal-window {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.6;
  }

  &__container {
    padding-top: 40px;
    width: 340px;
    border-radius: 12px;
    background-color: #fff;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1e1e1e;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-top: 50px;
  }

  &__label {
    font-size: 9px;
    line-height: 9px;
    color: #999;
    margin-bottom: 8px;

    &_f-loaded {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #8d8d8d;
      display: block;
      margin: 0 auto 60px;
      cursor: pointer;
    }

    &_file-input {
      display: block;
      width: 122px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-decoration-line: underline;
      color: #3369f3;
      margin: 0 auto 38px;
      cursor: pointer;
    }
  }

  &__text-input {
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #3369f3;
    padding-bottom: 7px;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 33px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 20px;
  }

  &__warning {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: px;
    line-height: 30px;
    color: #ff2f2f;
    text-align: center;
  }

  &__button {
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    color: #fff;
    height: 37px;
    cursor: pointer;
    border: none;
  }

  &__button_small {
    width: 110px;
  }

  &__button_long {
    width: 100%;
  }

  &__button_b-r-8px {
    border-radius: 8px;
  }

  &__button_grey {
    background-color: #8f97ac;
  }

  &__button_blue {
    background-color: #3369f3;
  }

  &__file-input {
    visibility: visible;
    display: none;
  }
}

.display-none {
  display: none;
}
