<div class="registration__wrapper">
  <main class="registration">
    <div class="title-wrapper">
      <h1 class="login-registration__title">Регистрация</h1>
    </div>
    <form class="form" id="login-form">
      {{{input}}}
      <div class="form-warning form-warning_pt-1rem" id="login__form-warning">
        <p class="form-warning-text">Пароли не совпадают</p>
      </div>
    </form>
    <div class="registration__button-wrapper">
      <button class="button button_grey button_auth button_b-r-8px"><a
          href="../chats/chats.html"
          class="button"
        >Войти</a>
      </button>
      <button
        class="button button_blue button_auth button_b-r-8px"
      >Регистрация</button>
    </div>
  </main>
</div>