<div class="login__wrapper">
  <main class="login"><div class="title-wrapper"><h1 class="login-registration__title" >Вход</h1></div>
    <form class="form" id="login-form">
      <label class="form-label" for="login">
        Логин
      </label>
      <input name="login" class="input" type="text" placeholder="Логин" />
      <label class="form-label" for="password">
        Пароль
      </label>
      <input
        name="password"
        class="input"
        type="password"
        placeholder="Пароль"
      />
      <div class="form-warning form-warning_pt-3rem" id="login__form-warning">
        <p class="form-warning-text">Неверный логин или пароль</p>
      </div>
    </form>
    <div class="login__button-wrapper">
      <button class="button button_grey button_auth button_b-r-8px"><a
          href="./registration/registration.html"
          class="login__link-to-reg button"
        >Впервые?</a></button>
      <button
        class="button button_blue button_auth button_b-r-8px"
      >Авторизоваться</button>
    </div>
  </main>
</div>