<div class="profile__control display-none">
  <button class="profile__change-data mb-1rem">
    Изменить данные
  </button>
  <button class="profile__change-data mb-1rem">
    Изменить пароль
  </button>
  <button class="profile__change-data profile__change-data_red">
    <a class="profile__link-to-login" href="../login/index.html">Выйти
    </a>

  </button>
</div>