.chats {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin: 0 20px;

  &__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__aside {
    width: 310px;
    border-right: #eaeaea 1px solid;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  // !!!!!!!!!!!
  &__top-btns {
    padding-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::after {
      padding-top: 14px;
      width: 290px;
      height: 1px;
      content: "";
      border-bottom: #eaeaea 1px solid;
    }
  }

  &__button {
    width: 290px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:nth-of-type(1) {
      margin-bottom: 10px;
    }

    &:nth-of-type(2) {
      background-color: #efefef;
      color: #999;
    }
  }

  &__link {
    min-width: 34px;
    height: 34px;
    background-color: #3369f3;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    cursor: pointer;
  }

  &__arrow {
    align-self: center;
    margin: 0 auto;
    min-width: 24px;
    height: 24px;
  }

  &__link-to-profile {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  &__img {
    margin-right: 6px;
    top: 6px;
  }

  &__search {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    height: 32px;
    width: 290px;
    position: relative;
    margin-top: 14px;
  }

  &__search-input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: #efefef;
    padding-left: 36px;

    &::placeholder {
      padding-left: 6px;
    }
  }

  &__list-of-chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    align-items: center;
    flex-grow: 1;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__chat-item {
    scroll-snap-align: start;
    height: 71px;
    width: 100%;
    border-bottom: #eaeaea 1px solid;
    display: flex;
    padding: 12px 10px;
    cursor: pointer;

    &_selected {
      background-color: #e4edfd;
    }
  }

  &__pic-wrapper {
    width: 47px;
    height: 47px;
    margin-right: 10px;
    border-radius: 50%;
    display: block;
  }

  &__picture {
    width: 47px;
    height: 47px;
    border-radius: 50%;
  }

  &__item-main-info {
    flex-grow: 1;
    margin-right: 15px;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    padding-bottom: 4px;
  }

  &__last-message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
  }

  &__time {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    text-align: right;
    color: #999;
    display: block;
    margin-bottom: 14px;
  }

  &__new-message {
    width: 20px;
    height: 20px;
    background-color: #3369f3;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;

    &-p {
      color: #fff;
    }
  }

  &__header {
    border-bottom: 1px solid #eaeaea;
    height: 54px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__current-chat {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 10px;

    &-pic {
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }

    &-name {
      margin-left: 10px;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
    }
  }

  &__menu-btn {
    padding-left: 20px;
    cursor: pointer;
    height: 20px;
    margin-top: 20px;
  }

  &__menu {
    position: absolute;
    width: 210px;
    top: 68px;
    right: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    z-index: 1;
  }

  &__menu-content {
    margin: 12px 0 12px 15px;
  }

  &__menue-item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-img {
      margin-right: 15px;
    }

    &-action {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #1e1e1e;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  &__messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 54px;
    border-top: 1px solid #eaeaea;
  }

  &__file-menu {
    margin-right: 10px;
    cursor: pointer;
  }

  &__input {
    margin-right: 10px;
    flex-grow: 1;
    border: none;
    background: #efefef;
    border-radius: 30px;
    height: 32px;
    padding-left: 30px;

    &::placeholder {
      padding-left: 30px;
    }
  }

  &__send-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #3369f3;

    &:disabled {
      background-color: #ce2424;
    }
  }

  &__no-chat-selection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__no-chat-selection-p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999;
    display: block;
  }
}

.display-none {
  display: none;
}

.absolute {
  position: absolute;
}

.file-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 128px;
  width: 210px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  z-index: 1;
  background: #fff;
}

.first-stub {
  flex-grow: 1;
}

.messages {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__item {
    background-color: #efefef;
    margin-bottom: 5px;
    width: 50%;
    border-radius: 8px;
    padding: 6px;

    &_my-message {
      align-self: flex-end;
      background-color: #e4edfd;
    }
  }

  &__content {
    font-size: 12px;
  }

  &__time {
    text-align: end;
  }

  &__display-name {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
  }
}
