<menu class="file-menu">
  <div class="chats__menu-content">
    <div class="chats__menue-item">
      <img
        src={{svgDefault.svgAddVideoOrFoto}}
        alt="Фото или видео"
        class="chats__menue-item-img"
      />
      <p class="chats__menue-item-action">Фото или видео</p>
    </div>
    <div class="chats__menue-item">
      <img
        src={{svgDefault.svgAddFile}}
        alt="Файл"
        class="chats__menue-item-img"
      />
      <p class="chats__menue-item-action">Файл</p>
    </div>
    <div class="chats__menue-item">
      <img
        src={{svgDefault.svgAddLocation}}
        alt="Локация"
        class="chats__menue-item-img"
      />
      <p class="chats__menue-item-action">Локация</p>
    </div>
  </div>
</menu>