<div class="profile__control-wrapper">
        <div class="profile__control">
          <button class="profile__change-data mb-1rem">
            Изменить данные
          </button>
          <button class="profile__change-data mb-1rem">
            Изменить пароль
          </button>
          <button class="profile__change-data profile__change-data_red">
            <a class="profile__link-to-login" href="../login/index.html">Выйти
            </a>

          </button>
        </div>
        <div class="profile__control display-none profile__control_row">
          <button
            class="profile__btn button button_b-r-8px button_grey button_auth"
          >
            Отмена
          </button>
          <button
            class="profile__btn button button_b-r-8px button_blue button_auth"
          >
            Сохранить
          </button>
        </div>
</div>